*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;

    a{
        text-decoration: none;
        color: black;
    }

    li{
        list-style: none;
    }
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.header{
    background-image: url(../img/back-desktop.png);
    background-size: 100% 960px;
    background-repeat: no-repeat;
    height: 860px;

    .nav-menu{
        font-weight: 700;
        font-size: 18px;
        height: 70px;
        background: black;

        .container{
            height: 100%;
        }
        .menu_row{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li:nth-child(6){
                img{
                    margin-right: 20px;
                }
            }

            .menu-item{

                &:nth-child(6){
                    margin-left: 100px;
                }
                a{
                    color: white;
                }
            }
        }
    }

    .logo{
        margin-top: 60px;

    }
}

.main{
    .info{
        .haircut-info{
            display: grid;
            grid: 1fr 1fr / 1fr 1fr 1fr;
            margin-top: -180px;
    
            .haircut-item{
                padding: 30px;
                color: white;
                z-index: 5;
    
                h3{
                    font-size: 72px;
                }
                p{
                    font-size: 20px;
                }
    
                &:nth-child(1){
                    grid-row: 1/3;
                    color: black;
                    background: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    p{
                        width: 200px;
    
                        &:nth-child(3){
                            color: rgba(0, 0, 0, 0.3);
                        }
                    }
    
                    h3{
                        font-weight: 700;
                        font-size: 40px;
                    }
                }
    
                &:nth-child(2){
                    background: rgb(70, 70, 70);
                }
                &:nth-child(3){
                    background: rgb(117, 117, 117);
                }
                &:nth-child(4){
                    background: rgba(53, 53, 53, 1);
                }
                &:nth-child(5){
                    background: rgb(75, 75, 75);
                }
            }
        }    
    }
    .pluses{
        background: rgba(53, 53, 53, 1);
        margin-top: 80px;
        display: flex;
        justify-content: center;
        gap: 90px;
        padding-top: 290px;
        padding-bottom: 50px;
        margin-top: -180px;
        color: white;
        position: relative;
        z-index: 1;

            &::after {
                content: '';
                padding-top: 5%;
            
                 background: linear-gradient(to right top, transparent 49.5%, rgba(53, 53, 53, 1) 50%) left / 50.025% 100% no-repeat,
                linear-gradient(to left top, transparent 49.5%, rgba(53, 53, 53, 1) 50%) right / 50.025% 100% no-repeat;
            
                position: absolute;
                top: 100%;
                left: 2px;
                right: 2px;
          }
        
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            text-align: center;
            gap: 20px;

            p{
                font-size: 20px;
            }

            h3{
                font-size: 30px;
            }
        }

        .pluses-line{
            width: 1px;
            background: rgba(175, 133, 133, 0.2);
        }
    }

    .news{
        margin-top: 200px;

        .block{
            display: flex;
            justify-content: space-between;

            .news-subtitle{
                font-size: 40px;
                margin-left: 100px;
            }

            a{
                padding: 10px 20px;
                border: 2px solid rgba(229, 221, 213, 1);
                align-self: center;
            }
        }
        .news-items{
            display: flex;
            justify-content: space-between;
            gap: 70px;

            .news-item{
                display: flex;
                align-items: center;
                margin-top: 50px;
                gap: 20px;

                p{
                    font-size: 18px;
                }

                .back-time{
                    background-image: url(../img/back.png);
                    width: 145px;
                    height: 60px;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    color: white;
                    text-align: center;
                    padding: 0;

                    p:nth-child(1){
                        font-weight: 900;
                        font-size: 24px;
                    }

                    p:nth-child(2){
                        font-size: 16px;
                    }
                }
            }
        }

    }

    .reviews{
        margin-top: 50px;
        border-top: 1px solid rgba(229, 221, 213, 1);
        padding-top: 50px;

        .block{
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            a{
                padding: 10px 20px;
                border: 2px solid rgba(229, 221, 213, 1);
                align-self: center;
            }

            .reviews-subtitle{
                margin-left: 100px;
                font-size: 40px;    
            }
        }

        .reviews-items{
            display: flex;
            justify-content: center;
            gap: 20px;

            .reviews-item{
                border: 1px solid #E5DDD5;
                display: flex;
                align-items: center;
                padding: 20px;

                .text{
                    padding: 0px 80px;
                    h3{
                        font-size: 24px;
                    }
                }

                &:nth-child(2){
                    padding: 0;
                    width: 100%;
                }
            }
        }

        .dots{
            display: flex;
            margin: 50px 0px 50px 0px;
            justify-content: center;
            gap: 25px;
        }
    }
}

.footer{
    background: rgba(41, 41, 41, 1);
    height: 200px;
    color: white;

    a{
        color: white;
    }
    .container{
        height: 100%;
    }

    .footer_row{
        display: grid;
        grid: 1fr 1fr / 1fr 1fr 1fr;
        height: 100%;
        align-items: center;
        
        p,
        a{
            text-align: center;
        }

        a:nth-child(6){
            border: 1px solid #4A4A4A;
            padding: 15px 40px;
            width: 60%;
            justify-self: center;
        }

        p:nth-child(4){
            text-align: left;
        }

        .social{
            display: flex;
            justify-self: center;
            justify-content: center;

            a{
                border: 1px solid #4A4A4A;
                padding: 15px 20px;
            }
        }
    }
}

.end{
    width: 100%;
    height: 200px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-end{
    width: 960px;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    display: flex;
    justify-content: center;
}
.button-shkm{
    width: 160px;
    height: 50px;
    border: 1px solid #4A4A4A;
    background-color: #292929;
    color: white;
   font-weight: 700px; 
   margin-top: 13px;
   font-size: 18px;
}
.create-by{
    width: 320px;
display: flex;
flex-direction: column;
align-items: flex-end;
}

.contact{
    width: 320px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.lets-friends{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-friends{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.title-contacts{
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.social-media{
    width: 150px;
    display: flex;
    margin-top: 13px;
}
.media-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #4A4A4A;
    background-color: #292929;
}
.number-contact{
    font-size: 17px;
    color: white;
    margin-top: 27px;
}
.end{
    width: 100%;
    height: 200px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-create{
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding-right: 41px;
}

.phone-number{
    color: white;
}

@media (max-width: 1040px) and (min-width: 760px){
    .header{
        height: 550px;
    }

    .haircut-info{
        display: grid;
        grid: 1fr 1fr 1fr / 1fr 1fr !important;
        margin-top: -190px !important;
        position: absolute;
        width: 640px;

        .haircut-item{
            &:nth-child(1){
                grid-column: 1/3;
                grid-row: 1/2 !important;
                display: grid !important;
                grid: 1fr auto / 1fr 1fr;

            }
        }
    }

    .main{
        margin-top: 0 !important;

        .pluses{
            margin-top: 0 !important;

            display: flex;
            flex-direction: column;
            gap: 20px !important;
            align-items: center;
            padding-top: 400px;

            .pluses-item{
                display: grid;
                grid: 1fr 1fr / auto 1fr ;
                width: 100%;
                padding: 0px 200px;
                text-align-last: left;

                img{
                    grid-row: 1/3;
                    grid-column: 1/2;
                }
            }

            .pluses-line{
                width: 100% !important;
                height: 1px !important;
            }
        }
    }

    .block{
        h2{
            margin-left: 0px !important;
        }
    }

    .reviews{
        .reviews-items{
            gap: 0px !important;

            .reviews-item:nth-child(2){
                padding: 20px !important;
                
                img{
                    border-radius: 100px;
                    width: 80px;
                    height: 80px;
                }
            }
        }

        .dots{
            position: relative;
            background: rgb(255, 255, 255);
            padding: 10px 20px;
            width: 140px;
            z-index: 5;

            margin: -20px auto 50px auto !important;
        }
    }


    .news-items{
        .news-item{
            &:nth-child(3){
                display: none !important;
            }
        }
    }




    .end{
        width: 100%;
        height: 348px;
    }
    .center-end{
        width: 640px;
        display: grid;
        grid-template-columns: 320px 320px;
        grid-template-rows: 1fr 1fr;
    }
    .create-by{
        width: 320px;
    }
    .contact{
        width: 320px;
    }
    .lets-friends{
        width: 640px;
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: 10px;
    }
    .title-friends{
        display: none;
    }
    .social-media{
        width: 640px;
        margin-top: 13px;
    }
    .media-blocks{
        width:213.33px;
        height: 101px;
    }
    .container{
        width: 640px;
    }

    .menu_row{
        li:nth-child(6){
            a{
                display: none;
            }
        }
    }
}

@media (max-width: 759px) and (min-width: 320px){
    .end{
        width: 100%;
        height: 459px;
    }
    .center-end{
        width: 320px;
        display: grid;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns:320px;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .create-by{
        width: 320px;
        align-items: center;
    }
    .contact{
        width: 240px;
        text-align: center;
        font-size: 18px;
        margin-top: 33px;
    }
    .button-shkm{
        width: 280px;
    }
    .title-contacts{
        font-size: 18px;
        font-weight: 700;
    }
    .number-contact{
        font-size: 18px;
        font-weight: 400;
    }
    .lets-friends{
        width: 320px;
        margin-top: 10px;
    }
    .title-friends{
        display: none;
    }
    .social-media{
        width: 320px;
        margin-top: 13px;
    }
    .media-blocks{
        width:106px;
        height: 101px;
    }

    .phone-number{
        width: 280px;
        height: 50px;
        border: 1px solid #4A4A4A;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 17px;
   }
   .text-create{
    margin-top: 31px;
    padding-right: 0;
}
.end-vk{
    width:23px; 
    height:26px;
}
.end-fb{
    width:18px; 
    height:39px;
}
.end-inst{
    width:36px; 
    height:36px;
}
.phone-number{
    width: 280px;
    height: 50px;
    border: 1px solid #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}
.noplanner-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}.number-contact{
    margin-top: 10px;
}

.burger{
    background: #6A4D38;
    position: absolute;
    top: 90px;
    display: grid;
    color: white;
    width: 100%;
    grid: 1fr / 0.2fr 1fr;
    height: 85px;
    
}

.header_burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    justify-self: center;
    margin-top: 30px;

    span {
        position: absolute;
        background: rgb(255, 255, 255);
        width: 100%;
        height: 2px;
        left: 0px;
        top: 9px;
    }
}

.header_burger::before,
.header_burger::after {
    content: '';
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
}

.header_burger::before {
    top: 0px;
}

.header_burger::after {
    bottom: 0px;
}


.header_burger {
    z-index: 3;
    position: relative;
}

header::before {
    z-index: 2;
}

header {
    height: 50px;
}

.header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: 0.3s;
}

.header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: 0.3s;
}

.header_burger.active span {
    transform: scale(0);
    transition: 0.3s;
}

.nav-menu{
    position: absolute;
    transition: 0.3s;
    right: 0;
    background: rgba(130, 101, 80, 1) !important;
    width: 82.5%;
    height: 100% !important;

    .menu_row{
        .menu-item:nth-child(2),
        .menu-item:nth-child(3),
        .menu-item:nth-child(4),
        .menu-item:nth-child(5),
        .menu-item:nth-child(6){
            display: none;
        }
    }
}

.nav-menu.active{
    position: relative;
    z-index: 10;
    right: 0;
    top: 5px;
    height: 100%;
    background: rgba(130, 101, 80, 1);
    width: 100%;

    .menu_row{
        .menu-item:nth-child(2),
        .menu-item:nth-child(3),
        .menu-item:nth-child(4),
        .menu-item:nth-child(5),
        .menu-item:nth-child(6){
            display: block;
        }
    }
}


.header{
    background: none !important;
    height: 170px ;
}

.haircut-info{
    margin-top: 0 !important;

    .haircut-item{
        h3{
            font-size: 50px !important;
        }
    }
}

.logo{
    background: #242424;
    padding: 30px;
    margin-top: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.menu_row{
    display: flex;
    flex-direction: column;

    .menu-item{
        padding: 30px 20px !important;
        border: 1px solid #886E5B;
        width: 100%;

        &:nth-child(6){
            margin-left: 0 !important;
        }
    }
}


.haircut-info{
    display: flex !important;
    flex-direction: column !important;

    .haircut-item{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(1){
            p:nth-child(3){
                display: none;
            }
        }
    }
}

.pluses{
    .pluses-item{
        &:nth-child(3),
        &:nth-child(5){
            display: none;
        }
    }

    .pluses-line{
        display: none;
    }
}

.news{
    .block{
        display: flex;
        flex-direction: column;
        h2{
            text-align: center;
            margin-left: 0 !important;
        }

        a{
            position: absolute;
            margin-top: 320px;
        }
    }

    .news-item{
        &:nth-child(3){
            display: none !important;
        }
    }
    .news-items{
        display: flex;
        flex-direction: column;
        gap: 0px !important;
        width: 320px;
        margin: 0 auto;

        margin-bottom: 100px;
    }

    .back-time{
        display: flex;
        flex-direction: column;
        background-size: auto auto !important;
        text-align: left !important;
        align-items: center !important;
    }

    .lolads{
        p{
            margin-right: 15px;
        }
    }
}

.reviews{
    .block{
        display: flex;
        flex-direction: column;
        a{
            display: none;
        }

        h2{
            text-align: center !important;
            margin-left: 0 !important;
        }
    }

    
    .reviews-item:nth-child(1),
    .reviews-item:nth-child(3){
        display: none !important;
    }

    .reviews-item:nth-child(2){
        border: 0px !important;
        display: flex;
        width: 320px !important;

        img{
            width: 80px;
            height: 60px;
            align-self: flex-start;
            margin-top: 10px;
        }

        .text{
            padding: 0 40px !important;

            p{
                margin-top: 20px;
            }
        }
    }
}
}